
a:link
{
	text-decoration: none;
	font-weight: bold;
	color: #039;
}

a:visited
{
	color: #039;
}

a:focus
{ 
	text-decoration: underline;
}

a:hover
{
	text-decoration: underline;
}

a:active
{
	font-weight: bold;
}

body 
{
	background-color: #F7F7F7;
}

p.lastupdate {
	text-align: left;
	font-size: 9px;
}

h1
{
	font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 30px;
	color: black;
    font-size: 40px;
    line-height: 50px;
	text-align: center;
}

sup
{
	vertical-align: top;
	font-size: 0.3em;
}

table.disclaimeranddonations
{
	width: 98%;
	margin-right: 0px;
	font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 10px;
	margin: 20px;
	width: auto;
	text-align: left;
	border-collapse: collapse;
}

table.main 
{
	width: 98%;
	margin-right: 0px;
	font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	margin: 20px;
	width: auto;
	text-align: left;
	border-collapse: collapse;
}

table.main th
{
	font-size: 15px;
	font-weight: bold;
	padding: 2px;
	background: #C5D9D8;/*#b9c9fe;*/
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-left: none;
	border-right: none;
	color: black;
	text-align: center;
}

table.main td
{
	padding: 8px;
	background: white; /*#e8edff; */
	border-bottom: 1px solid black;
	color: #669;
	border-top: 1px solid transparent;
	/*border-left: 1px solid #fff;
	border-right: 1px solid #fff;*/
	/*text-align: center;*/
}

img.qrcode
{
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	float: left;
}

table.main tr:hover td
{
	background: #C5D9D8;/*#d0dafd;*/
	color: black;
}